{% load static %}

<footer class="footer">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/footer_1.jpg' %}" data-speed="0.8"></div>
    <div class="container">
        
        <div class="row footer_contact_row">
            <div class="col-xl-10 offset-xl-1">
                <div class="row">

                    <!-- Footer Contact Item -->
                    <div class="col-xl-4 footer_contact_col">
                        <div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
                            <div class="footer_contact_icon"><img src="{% static 'images/sign.svg' %}" alt=""></div>
                            <div class="footer_contact_title">visit us pysically</div>
                            <div class="footer_contact_list">
                                <ul>
                                    <li>our office : Location of your office </li>
                                    <li>Mobile: </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Footer Contact Item -->
                    <div class="col-xl-4 footer_contact_col">
                        <div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
                            <div class="footer_contact_icon"><img src="{% static 'images/trekking.svg' %}" alt=""></div>
                            <div class="footer_contact_title">Reach the world with us </div>
                            <div class="footer_contact_list">
                                <ul style="max-width:190px">
                                    <li>we are from addis ababa</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Footer Contact Item -->
                    <div class="col-xl-4 footer_contact_col">
                        <div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
                            <div class="footer_contact_icon"><img src="{% static 'images/around.svg' %}" alt=""></div>
                            <div class="footer_contact_title">send us a message</div>
                            <div class="footer_contact_list">
                                <ul>
                                    <li>youremail@gmail.com</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div style="background-color: black;" class="col text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website  is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://instagram.com/kmranrg" target="_blank">Emush habtualem </a> | Credits:<a href="#" target="_blank"> Emush</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> </div>
</footer>